In [8]:
import csv
from collections import defaultdict
import pandas as pd
import numpy as np

In [2]:
def read_results():
    table = defaultdict(dict)
    with open('survey_results_public.csv','r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            if row['ProgramHobby'] != 'NA' and row['BoringDetails'] != 'NA':
                row_data = row['ProgramHobby']
                col_data = row['BoringDetails']
                try:
                    table[row_data][col_data] += 1
                except:
                    table[row_data][col_data] = 1
        
        return table

In [3]:
print(read_results())

defaultdict(<class 'dict'>, {'Yes, both': {'Disagree': 3361, 'Somewhat agree': 2620, 'Strongly disagree': 899, 'Agree': 1295, 'Strongly agree': 367}, 'Yes, I program as a hobby': {'Strongly disagree': 1246, 'Disagree': 5750, 'Strongly agree': 767, 'Agree': 2480, 'Somewhat agree': 4838}, 'Yes, I contribute to open source projects': {'Somewhat agree': 567, 'Disagree': 671, 'Agree': 278, 'Strongly disagree': 179, 'Strongly agree': 98}, 'No': {'Disagree': 2088, 'Strongly agree': 342, 'Agree': 1081, 'Somewhat agree': 1839, 'Strongly disagree': 418}})

In [4]:
# as far as pandas, I know you can turn it into a pd datafram like this
df = pd.DataFrame(read_results())
# but I don't really know what the advantage is or how to make this useful
# It definitely prints more nicely tho
print(df)

                     No  Yes, I contribute to open source projects  \
Agree              1081                                        278
Disagree           2088                                        671
Somewhat agree     1839                                        567
Strongly agree      342                                         98
Strongly disagree   418                                        179

                   Yes, I program as a hobby  Yes, both
Agree                                   2480       1295
Disagree                                5750       3361
Somewhat agree                          4838       2620
Strongly agree                           767        367
Strongly disagree                       1246        899

In [5]:
data = pd.read_csv("survey_results_public.csv")

In [6]:
data.columns

Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize',
       ...
       'StackOverflowMakeMoney', 'Gender', 'HighestEducationParents', 'Race',
       'SurveyLong', 'QuestionsInteresting', 'QuestionsConfusing',
       'InterestedAnswers', 'Salary', 'ExpectedSalary'],
      dtype='object', length=154)

In [11]:
satisfaction = [x for x in data.columns if "Satisfaction" in x]+["HoursPerWeek","Salary"]
print(satisfaction)

['CareerSatisfaction', 'JobSatisfaction', 'StackOverflowSatisfaction', 'HoursPerWeek', 'Salary']

In [12]:
data[satisfaction] = data[satisfaction].replace("NA",np.nan).astype(float)

In [13]:
data[satisfaction]

,CareerSatisfaction,JobSatisfaction,StackOverflowSatisfaction,HoursPerWeek,Salary
0,NaN,NaN,9.0,0.0,NaN
1,NaN,NaN,8.0,NaN,NaN
2,8.0,9.0,8.0,NaN,113750.000000
3,6.0,3.0,10.0,5.0,NaN
4,6.0,8.0,NaN,NaN,NaN
5,NaN,NaN,6.0,0.0,NaN
6,7.0,6.0,8.0,1.0,NaN
7,7.0,7.0,7.0,1.0,NaN
8,6.0,6.0,8.0,2.0,NaN
9,6.0,8.0,9.0,1.0,NaN
10,8.0,9.0,10.0,NaN,NaN
11,8.0,6.0,NaN,NaN,NaN
12,3.0,NaN,5.0,1.0,NaN
13,8.0,6.0,10.0,3.0,NaN
14,8.0,8.0,8.0,NaN,100000.000000
15,8.0,8.0,9.0,0.0,NaN
16,6.0,NaN,7.0,2.0,NaN
17,9.0,8.0,8.0,NaN,130000.000000
18,5.0,3.0,NaN,NaN,82500.000000
19,8.0,8.0,9.0,NaN,NaN
20,7.0,7.0,NaN,NaN,NaN
21,8.0,8.0,9.0,1.0,NaN
22,8.0,9.0,8.0,NaN,100764.000000
23,7.0,8.0,8.0,NaN,NaN
24,7.0,9.0,NaN,NaN,NaN
25,7.0,7.0,9.0,0.0,175000.000000
26,5.0,6.0,8.0,3.0,NaN
27,9.0,9.0,NaN,NaN,NaN
28,8.0,7.0,7.0,NaN,NaN
29,6.0,6.0,NaN,NaN,NaN
...,...,...,...,...,...
51362,9.0,9.0,10.0,NaN,NaN
51363,9.0,9.0,9.0,NaN,NaN
51364,6.0,4.0,7.0,NaN,NaN
51365,7.0,8.0,7.0,NaN,NaN
51366,7.0,8.0,NaN,NaN,NaN
51367,NaN,NaN,8.0,1.0,NaN
51368,8.0,5.0,9.0,8.0,NaN
51369,NaN,NaN,7.0,NaN,NaN
51370,8.0,8.0,9.0,NaN,NaN
51371,7.0,7.0,8.0,NaN,74193.548387
51372,7.0,7.0,NaN,0.0,NaN
51373,6.0,4.0,9.0,4.0,NaN
51374,6.0,6.0,NaN,2.0,NaN
51375,8.0,10.0,9.0,NaN,NaN
51376,NaN,NaN,10.0,0.0,NaN
51377,5.0,7.0,10.0,NaN,NaN
51378,10.0,10.0,10.0,NaN,107526.881720
51379,NaN,NaN,NaN,NaN,NaN
51380,6.0,5.0,5.0,2.0,NaN
51381,9.0,9.0,10.0,NaN,NaN
51382,9.0,5.0,7.0,0.0,32258.064516
51383,7.0,8.0,9.0,1.0,NaN
51384,7.0,5.0,7.0,0.0,NaN
51385,7.0,7.0,9.0,4.0,NaN
51386,7.0,4.0,9.0,2.0,NaN
51387,7.0,3.0,9.0,5.0,58000.000000
51388,NaN,NaN,7.0,NaN,NaN
51389,10.0,10.0,NaN,NaN,NaN
51390,6.0,7.0,9.0,1.0,40000.000000
51391,8.0,8.0,8.0,2.0,NaN

In [21]:
data.WorkStart = data["WorkStart"].replace("NaN",np.nan).replace("Noon", "11:59 AM").replace("Midnight","11:59 PM")

In [22]:
data.WorkStart = pd.to_datetime(data.WorkStart)

In [23]:
data.WorkStart

0       2018-04-02 06:00:00
1       2018-04-02 10:00:00
2       2018-04-02 09:00:00
3       2018-04-02 09:00:00
4                       NaT
5       2018-04-02 10:00:00
6       2018-04-02 07:00:00
7       2018-04-02 11:59:00
8       2018-04-02 09:00:00
9       2018-04-02 10:00:00
10      2018-04-02 06:00:00
11                      NaT
12      2018-04-02 10:00:00
13      2018-04-02 10:00:00
14      2018-04-02 09:00:00
15      2018-04-02 10:00:00
16      2018-04-02 10:00:00
17      2018-04-02 10:00:00
18                      NaT
19      2018-04-02 11:59:00
20                      NaT
21      2018-04-02 10:00:00
22      2018-04-02 09:00:00
23      2018-04-02 15:00:00
24                      NaT
25      2018-04-02 08:00:00
26      2018-04-02 10:00:00
27                      NaT
28      2018-04-02 11:00:00
29                      NaT
                ...
51362   2018-04-02 06:00:00
51363   2018-04-02 10:00:00
51364   2018-04-02 14:00:00
51365   2018-04-02 09:00:00
51366                   NaT
51367   2018-04-02 08:00:00
51368   2018-04-02 09:00:00
51369   2018-04-02 09:00:00
51370   2018-04-02 06:00:00
51371   2018-04-02 10:00:00
51372                   NaT
51373   2018-04-02 07:00:00
51374   2018-04-02 10:00:00
51375   2018-04-02 09:00:00
51376   2018-04-02 06:00:00
51377   2018-04-02 08:00:00
51378   2018-04-02 10:00:00
51379   2018-04-02 08:00:00
51380   2018-04-02 05:00:00
51381   2018-04-02 08:00:00
51382   2018-04-02 09:00:00
51383   2018-04-02 09:00:00
51384   2018-04-02 09:00:00
51385   2018-04-02 11:00:00
51386   2018-04-02 11:59:00
51387   2018-04-02 09:00:00
51388   2018-04-02 08:00:00
51389                   NaT
51390   2018-04-02 14:00:00
51391   2018-04-02 08:00:00
Name: WorkStart, Length: 51392, dtype: datetime64[ns]

In [25]:
data.corr()

,Respondent,CareerSatisfaction,JobSatisfaction,HoursPerWeek,StackOverflowSatisfaction,Salary,ExpectedSalary
Respondent,1.000000,-0.015348,-0.016278,0.023430,0.037309,-0.026780,-0.009201
CareerSatisfaction,-0.015348,1.000000,0.645803,-0.067544,0.155679,0.158223,0.003346
JobSatisfaction,-0.016278,0.645803,1.000000,-0.081532,0.087871,0.120765,NaN
HoursPerWeek,0.023430,-0.067544,-0.081532,1.000000,-0.011730,-0.120114,-0.064397
StackOverflowSatisfaction,0.037309,0.155679,0.087871,-0.011730,1.000000,-0.076674,-0.021426
Salary,-0.026780,0.158223,0.120765,-0.120114,-0.076674,1.000000,NaN
ExpectedSalary,-0.009201,0.003346,NaN,-0.064397,-0.021426,NaN,1.000000

In [29]:
data.ExpectedSalary.dropna().mean()

33142.22046770968